---
import Link from '@components/Link/Link.astro';
import styles from './styles.module.scss';
import { MAPBOX_ACCESS_TOKEN } from 'astro:env/client';

interface Props {
  lat: number;
  lng: number;
  title: string;
}
const { lat, lng, title } = Astro.props;

const linkText = 'Open in Google Maps';
const staticMapKey = MAPBOX_ACCESS_TOKEN;
---

<Link
  href={`https://maps.google.com/?q=${lat},${lng}`}
  openInNewTab
  class={styles.staticMapLink}
>
  {
    staticMapKey ? (
      <>
        <span class="sr-only">{linkText}</span>
        <img
          class={styles.staticMap}
          src={`https://api.mapbox.com/styles/v1/mapbox/streets-v12/static/pin-l+ab4e1e(${lng},${lat})/${lng},${lat},14,0/800x800?access_token=${staticMapKey}`}
          alt={title}
          width={800}
          height={800}
          loading="lazy"
        />
      </>
    ) : (
      <span class={styles.staticMapLinkText}>{linkText}</span>
    )
  }
</Link>
