---
import styles from './styles.module.scss';
import classNames from 'clsx';
import { getEntry } from '@lib/content';
import { slugFormatter } from '@lib/routing/slugFormatter';
import Link from '@components/Link/Link.astro';

const generalInfo = await getEntry('SiteInfo', 'general');
---

<footer class={classNames(styles.root, 'with-background')}>
  <div class={classNames(styles.content, 'content-layout')}>
    <div>
      <h2 class={classNames(styles.title)}>
        <span class="sr-only">Footer</span>
        CREA Orkest
      </h2>

      <address class={classNames(styles.address)}>
        <Link
          class={classNames(styles.addressLink)}
          href="https://maps.google.com/?q=Nieuwe+Achtergracht+170,+1018+WV+Amsterdam"
          openInNewTab
        >
          <span>Nieuwe Achtergracht 170</span>
          <span>1018 WV Amsterdam</span>
        </Link>
      </address>

      <ul class={classNames(styles.list, styles.logoList)}>
        <li>
          <Link
            class={classNames(styles.logoLink)}
            href="https://www.crea.nl/"
            openInNewTab
          >
            <img
              class={classNames(styles.logo)}
              src="/img/logo-crea-cultureel-studentencentrum.png"
              alt="logo CREA"
            />
            <span class="sr-only">Ga naar crea.nl</span>
          </Link>
        </li>
        <li>
          <Link
            class={classNames(styles.logoLink)}
            href="https://www.uva.nl/"
            openInNewTab
          >
            <img
              class={classNames(styles.logo)}
              src="/img/logo-uva.png"
              alt="logo UVA"
            />
            <span class="sr-only">Ga naar uva.nl</span>
          </Link>
        </li>
        <li>
          <Link
            class={classNames(styles.logoLink)}
            href="https://www.hva.nl/"
            openInNewTab
          >
            <img
              class={classNames(styles.logo)}
              src="/img/logo-hva.png"
              alt="logo HVA"
            />
            <span class="sr-only">Ga naar hva.nl</span>
          </Link>
        </li>
      </ul>
    </div>

    <div>
      <h3 class={classNames(styles.title)}>Navigatie</h3>
      <ul class={classNames(styles.list)}>
        {
          generalInfo?.data.menu.map((item) => {
            if ('link' in item && item?.link?.slug && item.label) {
              return (
                <li>
                  <Link
                    class={classNames(styles.link)}
                    href={slugFormatter({ slug: item?.link?.slug })}
                  >
                    {item.label}
                  </Link>
                </li>
              );
            }
            return null;
          })
        }
      </ul>
    </div>

    <div>
      <h3 class={classNames(styles.title)}>Volg ons</h3>
      <ul class={classNames(styles.list)}>
        <li>
          <Link
            class={classNames(styles.link)}
            href="https://facebook.com/creaorkest"
            openInNewTab
          >
            Facebook
          </Link>
        </li>
        <li>
          <Link
            class={classNames(styles.link)}
            href="https://www.instagram.com/creaorkest/"
            openInNewTab
          >
            Instagram
          </Link>
        </li>
        <li>
          <Link
            class={classNames(styles.link)}
            href="https://www.youtube.com/user/creaorkestpr"
            openInNewTab
          >
            Youtube
          </Link>
        </li>
      </ul>
    </div>
  </div>
</footer>
